.slide_container {
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 156px;
}

.slider_inner_container {
    padding-left: 250px;
    padding-right: 250px;
    cursor: grab;
}

.ourclients {
    height: 120px;
    padding: 20px;
}