@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
.text_video_container {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.paragraph {
    padding-bottom: 30px;
}

h4 {
    font-size: 48px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    margin-bottom: 20px;
}

.textvideo_para {
    line-height: 36px;
    margin-inline-end: 230px;
    margin-inline-start: 230px;
    word-break: break-word;
}

.video_section {
    background-image: url('../../images/machha_green_tea.jpg');
    margin-inline-end: 225px;
    margin-inline-start: 225px;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play_icon {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    padding: 1px;
    height: 60px;
    width: 60px;
    padding-inline: 20px;
}