$FontTypo_Heading: "Playfair Display",
serif;
$font-style-header: normal;
$font-weight-header: 700;
$DTFontTypo_Body: "Nunito Sans",
sans-serif;
$font-style-body: normal;
$font-weight-body: 400;
$font-weight-body--bold: 700;
$font-weight-body--bolder: 700;
$font-size-body: 18px;
$font-size-body-tablet: 18;
$DTFontTypo_Custom: "Work Sans",
sans-serif;
$font-style-additional: normal;
$font-weight-additional: 400;
$font-size-additional: 20;
$font-size-additional-tablet: 14;
$font-size-additional-mobile: 14;